!!!
html
	head(lang='ru')
		title Main Media Master
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		meta(name='description', content='')
		meta(name='keywords', content='')
		//- meta(name='viewport', content='width=1100')
		// if lt IE 9
			script(type="text/javascript", src="js/html5shiv.js")
		link(rel="stylesheet", href="css/animate.min.css", type="text/css")
		link(rel="stylesheet", href="css/style.css", type="text/css")
		link(rel="stylesheet", href="css/liquidcarousel.css", type="text/css")
	body
		//- header
		header
			.bg
			a#logo(href="main").sprite.link main media master
			nav
				a(href="about").link 
					|About
					span
				a(href="service").link 
					|Service
					span
				a(href="works").link 
					|Works
					span
				a(href="contacts").link 
					|Contacs
					span
				a(href="#").nubmer
					.mb.sprite
					strong 212-639-9675
					span
		//- fotter
		footer
			p.copy &copy;2013, Main Media Master
			.links
				a(href="/", target="_blank").sprite
				a(href="/", target="_blank").sprite
				a(href="/", target="_blank").sprite
		//- content
		#scroll
			#container
				//- main
				section#main.now
					.wrapper-section
						video(src="video/oceans.mp4", width="100%",height="400px", controls)
							source(src="oceans.mp4", type="video/mp4")
						h2.title about
						p.description.text We offer a wide range of maintenance services, registration and prolongation of 
							|domain names, hosting, qualitative control, as well as the creation of new functional modules and 
							|updating the design of a site. Our information service will update or adding text or graphical information on site pages. 
							|With us your web resources and online presentation will work on-line 24 hours a day, 
							|7 days a week and 365 days per year – for a reasonable price.
						a.read-more.link(href="about") Read more

						//- carousel
						.plushka.sprite Clients
						.carousel
							#liquid
								a.previous
									span.sprite
								a.next
									span.sprite
								.wrapper
										ul
											li
												a(href='#')
													img(src='img/1.jpg', alt='image')
											li
												a(href='#')
													img(src='img/1.jpg', alt='image')
											li
												a(href='#')
													img(src='img/1.jpg',alt='image')
											li
												a(href='#')
													img(src='img/1.jpg', alt='image')
											li
												a(href='#')
													img(src='img/1.jpg', alt='image')
											li
												a(href='#')
													img(src='img/1.jpg', alt='image')
											li
												a(href='#')
													img(src='img/1.jpg', alt='image')
											li
												a(href='#')
													img(src='img/1.jpg', alt='image')
											li
												a(href='#')
													img(src='img/foto3.png',alt='image')
											li
												a(href='#')
													img(src='img/foto2.png', alt='image')
											li
												a(href='#')
													img(src='img/foto1.png', alt='image')
											li
												a(href='#')
													img(src='img/foto.png', alt='image')
				//- about
				section#about
					.wrapper-section
						h2.title about
						p.description.text We offer a wide range of maintenance services, registration and prolongation of 
							|domain names, hosting, qualitative control, as well as the creation of new functional modules and 
							|updating the design of a site. Our information service will update or adding text or graphical information on site pages. 
							|With us your web resources and online presentation will work on-line 24 hours a day, 
							|7 days a week and 365 days per year – for a reasonable price.
						//- grid
						.grid
							.div
								.img-wrapper
									img(src="img/foto.png", alt="")
								.details
									p.name Elvira Marinevich
									p.job illustrator
							.div
								.img-wrapper
									img(src="img/foto1.png", alt="")
								.details
									p.name Aleksey Kuzmenko
									p.job Digital Designer
							.div
								.img-wrapper
									img(src="img/foto2.png", alt="")
								.details
									p.name Steve Jobs
									p.job Art-director
							.div
								img(src="img/foto3.png", alt="")
								.details
									p.name Nastya Blyakher
									p.job Video Producer
							.div
								.img-wrapper
									img(src="img/foto.png", alt="")
								.details
									p.name Mike Burret
									p.job Other
				//- service
				section#service
					.wrapper-section
						.title-bg
							h2.title Service
							p.description.text We offer a wide range of maintenance services, registration and prolongation of 
								|domain names, hosting, qualitative control, as well as the creation of new functional modules and 
								|updating the design of a site. Our information service will update or adding text or graphical information on site pages. 
								|With us your web resources and online presentation will work on-line 24 hours a day, 
								|7 days a week and 365 days per year – for a reasonable price.
						.grid
							.div
								.star.sprite
								.details
									h3.title Branding
									p.text We offer a wide range of maintenance services, registration and prolongation of domain names, hosting, qualitative.
										|We offer a wide range of maintenance services, registration and prolongation of domain names, hosting, qualitative.
							.div	
								.video.sprite
								.details
									h3.title Video
									p.text We offer a wide range of maintenance services, registration and prolongation of domain names, hosting, qualitative.
							.div	
								.s-3d.sprite
								.details
									h3.title 3D
									p.text We offer a wide range of maintenance services, registration and prolongation of domain names, hosting, qualitative.
							.div.radio-div	
								.radio.sprite
								.details
									h3.title Radio
									p.text We offer a wide range of maintenance services, registration and prolongation of domain names, hosting, qualitative.
							.div	
								.web.sprite
								.details
									h3.title Web
									p.text We offer a wide range of maintenance services, registration and prolongation of domain names, hosting, qualitative.
				//- works
				section#works
					.wrapper-section
						.slider-works
							.all-works
								img(src="img/video.jpg")
								h2.title works

								.grid
									.div
										.img-wrapper
											img(src="img/foto1.png", alt="")
											p 
												span Mindrelic - Manhatta Manhatta
									.div
										.img-wrapper
											img(src="img/foto.png", alt="")
											p 
												span Mindrelic - Manhatta
									.div
										.img-wrapper
											img(src="img/foto2.png", alt="")
											p 
												span Mindrelic
									.div
										.img-wrapper
											img(src="img/foto3.png", alt="")
											p 
												span Mindrelic - Manhatta Manhatta Manhatta
									.div
										.img-wrapper
											img(src="img/foto1.png", alt="")
											p 
												span Mindrelic - ManhattaManhatta 

									.div
										.img-wrapper
											img(src="img/foto.png", alt="")
											p 
												span Mindrelic - ManhattaManhatta
							.one-work
								header
									h3.title.title-job Landscapes: Volume Two
									a(href="#").goback
										span.sprite
										|go back

								img(src="img/vimeo.png") 

								p.description.text We offer a wide range of maintenance services, registration and prolongation of 
									|domain names, hosting, qualitative control, as well as the creation of new functional modules and 
									|updating the design of a site. Our information service will update or adding text or graphical information on site pages. 
									|With us your web resources and online presentation will work on-line 24 hours a day, 
									|7 days a week and 365 days per year – for a reasonable price.

				//- works
				section#contacts
					.wrapper-section
						#map(style="width: 100%; height: 228px;")
						h2.title contacs
						p.description.text 
							br 
							|Trump Tower
							br 
							|725 Fifth Avenue at 56th Street
							br 
							|Phone: (212) 832-2000
							br 
							a(href="mailto:info@mainmediamaster.com") linkEmail: info@mainmediamaster.com


		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.1/jquery.nicescroll.min.js")
		script(type="text/javascript", src="//maps.googleapis.com/maps/api/js?key=AIzaSyBr-kbGyzoFHxFLtHKcB2RvYPdSr0ENgvk&sensor=true")
		script(type="text/javascript", src="js/jquery.liquidcarousel.js")
		script(type="text/javascript", src="js/detectmobilebrowser.js")
		script(type="text/javascript", src="js/script.js")